.slider{
  width: 300px;
  height: 2rem;
  display: flex;
  margin: 0 auto;
  position: relative;
  align-self: flex-end;
  flex-direction: column;
}

.min {
  top: -32px;
  color: #9CA3AF;
  font-size: 16px;
  position: absolute;
}

.max {
  right: 0;
  top: -32px;
  color: #9CA3AF;
  font-size: 16px;
  position: absolute;
}

.track {
  height: 2px;
  border-radius: 0.25rem;
  background-color: #E5E7EB;
}

.image{
  left: 0;
  top: -25%;
  width: 36px;
  height: 24px;
  position: absolute;
}

.thumb {
  width: 36px;
  height: 24px;
  margin-top: -12px;
  margin-left: -18px;
  position: absolute;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("../../icons/track.svg");
}

.level {
  width: 50%;
  height: 2px;
  border-radius: 1rem;
  background: linear-gradient(0.25turn, #00CDFA , #7542EA, #F56CDB );
}


.input {
  opacity: 0;
  width: 105%;
  outline: none;
  cursor: pointer;
  appearance: none;
  margin-left: -2.5%;
  position: absolute;
  accent-color: transparent;
  background-color: transparent;
}

.position {
  top: 10px;
  width: 2px;
  height: 4px;
  margin-left: -1px;
  border-radius: 1px;
  position: absolute;
  background: #E5E7EB;
}

.pos_1_active {
  background-color: #3b88f3;
}
.pos_2_active {
  background-color: #5e5fee;
}

.pos_3_active {
  background-color: #8247E9;
}

.pos_4_active {
  background-color: #A953E4;
}

.pos_5_active {
  background-color: #CE60E0;
}

.pos_6_active {
  background-color: #F56DDC;
}

@media (max-width:720px){
  .slider {
    width: 240px;
  }
}

